<!DOCTYPE html>
<html>
<head>
  <title>Internship Task-1</title>
  <!-- <link rel="stylesheet" href="style.css"> -->
</head>

<body>
    <h1>Welcome to Task-1</h1>
    <form action="/submit" method="POST">

      <label>Name:
        <input type="text" name="name" required>
      </label>
      <br><br>

      <label>Email:
        <input type="email" name="email" required>
      </label>
      <br><br>

      <button type="submit">Submit</button>
    </form>
</body>
</html>